.containerFormsLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;

}

.formStudant, .formCompany{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.noneForm{
    display: none;
}

.containerBtn{
    background-color: #eeeeef;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    border-radius: 0.5rem;
}

.containerBtn button{
    
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.bgWhite{
    background-color: #fff;
}

form > input[type=text]:nth-child(1){
    padding-left: 10px;
    border-radius: 7px;
    padding-bottom: 10px;
    background-color: #F2F2F7;
    padding-top: 10px;
    padding-right: 100px;
    border-width: 0px;
    outline: none;
}

form > input[type=password]:nth-child(2){
    border-width: 0px;
    padding-left: 10px;
    border-radius: 7px;
    padding-bottom: 10px;
    background-color: #F2F2F7;
    padding-top: 10px;
    padding-right: 100px;
    margin-top: 10px;
}

div.containerFormsLogin > div:nth-child(1) > form > button{
    border-radius: 7px;
    color: white;
    background-color: #005594;
    padding-bottom: 10px;
    width: 277px;
    margin-top: 30px;
    padding-top: 10px;
    border-width: 0px;
}

