.formAddvaga input{
    border-width: 0px;
    padding-left: 10px;
    border-radius: 7px;
    padding-bottom: 10px;
    background-color: #F2F2F7;
    padding-top: 10px;
    padding-right: 100px;
    margin-top: 10px;
    outline: none;
}